<section class=" gradient-custom">
    <div class="container py-5 h-200 w-100 ">
        <div class="card bg-dark text-white " style="width:25rem; ">
            <img class="card-img-top "
                src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10054821/2019/7/3/db52fd6a-19fc-4add-bc4b-77b8608454d01562138455279-Veni-Vidi-Vici-Women-Black-Bodycon-Dress-3841562138453419-1.jpg"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Veni Vidi Vici
                    Black Ruched Bodycon Dress
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10054821/2019/7/3/db52fd6a-19fc-4add-bc4b-77b8608454d01562138455279-Veni-Vidi-Vici-Women-Black-Bodycon-Dress-3841562138453419-1.jpg"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Veni Vidi Vici
                    Black Ruched Bodycon Dress
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10054821/2019/7/3/db52fd6a-19fc-4add-bc4b-77b8608454d01562138455279-Veni-Vidi-Vici-Women-Black-Bodycon-Dress-3841562138453419-1.jpg"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Veni Vidi Vici
                    Black Ruched Bodycon Dress
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10054821/2019/7/3/db52fd6a-19fc-4add-bc4b-77b8608454d01562138455279-Veni-Vidi-Vici-Women-Black-Bodycon-Dress-3841562138453419-1.jpg"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Veni Vidi Vici
                    Black Ruched Bodycon Dress
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10054821/2019/7/3/db52fd6a-19fc-4add-bc4b-77b8608454d01562138455279-Veni-Vidi-Vici-Women-Black-Bodycon-Dress-3841562138453419-1.jpg"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Veni Vidi Vici
                    Black Ruched Bodycon Dress
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10054821/2019/7/3/db52fd6a-19fc-4add-bc4b-77b8608454d01562138455279-Veni-Vidi-Vici-Women-Black-Bodycon-Dress-3841562138453419-1.jpg"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Veni Vidi Vici
                    Black Ruched Bodycon Dress
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
    </div>

</section>