<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body>
    <nav>
        <div class="menu-icon">
            <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
            SureTOShop
        </div>
        <form action="#">
            <input type="search" class="search-data" placeholder="Search" required>
            <button type="submit" class="fa fa-search"></button>
        </form>
        <div class="nav-items">
            <li><a routerLink="/signin">SignIn</a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/">MyCart</a></li>

        </div>

    </nav>