<section class=" gradient-custom">
    <div class="container py-5 h-200 w-100 ">
        <div class="card bg-dark text-white " style="width:25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/jmthle80-1/iron/p/u/n/philips-gc1903-white-and-green-gc1903-original-imaf9n9j53d2u2k8.jpeg?q=70"
                alt=" Card image cap ">

            <div class="card-body ">
                <h5 class="card-title ">
                    PHILIPS GC1903 1440 W Steam Iron </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/jmthle80-1/iron/p/u/n/philips-gc1903-white-and-green-gc1903-original-imaf9n9j53d2u2k8.jpeg?q=70"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    PHILIPS GC1903 1440 W Steam Iron </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/jmthle80-1/iron/p/u/n/philips-gc1903-white-and-green-gc1903-original-imaf9n9j53d2u2k8.jpeg?q=70"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    PHILIPS GC1903 1440 W Steam Iron </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/jmthle80-1/iron/p/u/n/philips-gc1903-white-and-green-gc1903-original-imaf9n9j53d2u2k8.jpeg?q=70"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    PHILIPS GC1903 1440 W Steam Iron </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/jmthle80-1/iron/p/u/n/philips-gc1903-white-and-green-gc1903-original-imaf9n9j53d2u2k8.jpeg?q=70"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    PHILIPS GC1903 1440 W Steam Iron </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/jmthle80-1/iron/p/u/n/philips-gc1903-white-and-green-gc1903-original-imaf9n9j53d2u2k8.jpeg?q=70"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    PHILIPS GC1903 1440 W Steam Iron </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
    </div>

</section>