<section class=" gradient-custom">
    <div class="container py-5 h-200 w-100 ">
        <form >
            <div>
                <input   #upload type="file" name="DocumentName" (change)="onChange($event)" ngModel>
                <button  (click)="onUpload()" type="submit">Upload</button>
            </div>

        </form>
        <div class="card bg-dark text-white " style="width:25rem;" *ngFor="let appliance of appliances">
            <div >
                <img class="card-img-top" id={{appliance.id}} src={{url}}{{appliance.documentName}}  alt=" Card image cap" #img>
                <li class="card-title">{{appliance.name}}</li>
                <button class="btn btn-primary" (click)=addtocart(appliance)>Add To Cart</button>
            </div>
        </div>
    </div>
</section>  