<div class="about-section" style="background-color: #171c24; margin-top: 5rem;">
    <h1 style="margin-bottom:18px;">About Us Page</h1>
    <p> SureTOShop provides an easy way to sell products to a large customer base. However, there is a lot of competition 
        among multiple SureTOShop sites. When users land on an SureTOShop site, they expect to find what they are 
        looking for quickly and easily. Also, users are not sure about the brands or the actual products they want
         to purchase. They have a very broad idea about what they want to buy. Many customers nowadays search
          for their products on Google rather than visiting specific SureTOShop sites. They believe that Google 
          will take them to the SureTOShop sites that have their product.The purpose of any e-commerce website is 
          to help customers narrow down their broad ideas and enable them to finalize the products
    </p>
  </div>
  <br>
  <br>
  