<section class=" gradient-custom">
    <div class="container py-5 h-200 w-100 ">
        <div class="card bg-dark text-white " style="width:25rem; ">
            <img class="card-img-top "
                src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX4F2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1618028908000"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    AirTag Loop - White
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX4F2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1618028908000"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    AirTag Loop - White
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX4F2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1618028908000"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    AirTag Loop - White
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX4F2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1618028908000"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    AirTag Loop - White
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX4F2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1618028908000"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    AirTag Loop - White
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX4F2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1618028908000"
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    AirTag Loop - White
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
    </div>

</section>