  <div class="row" style="justify-content: center; text-align: center;">
      <div class="card" style="justify-content: center; align-items: center;">
        <div class="container">
          <h2>Jeet Patel</h2>
          <p class="title" style="text-transform: capitalize;">developer</p>
          <p>I've created this web using AngularJs and .NET framework</p>
          <p>jeetp6701@gmail.com</p>
          <p>For any query send email to given address or click on the button given below.</p>
          <a href="mailto:jeetp6701@gmail.com"  class="button">Contact </a>
        </div>
      </div>
  </div>