<section class=" gradient-custom">
    <div class="container py-5 h-200 w-100 ">
        <div class="card bg-dark text-white " style="width:25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/kkoc70w0/plant-container-set/v/d/z/1-gd-mpot-01-gd-homspurts-original-imafzytkkwnywrh4.jpeg?q=70 "
                alt=" Card image cap ">

            <div class="card-body ">
                <h5 class="card-title ">
                    Homspurts Metallic Sunshine Pot Copper
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/kkoc70w0/plant-container-set/v/d/z/1-gd-mpot-01-gd-homspurts-original-imafzytkkwnywrh4.jpeg?q=70 "
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Homspurts Metallic Sunshine Pot Copper
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/kkoc70w0/plant-container-set/v/d/z/1-gd-mpot-01-gd-homspurts-original-imafzytkkwnywrh4.jpeg?q=70 "
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Homspurts Metallic Sunshine Pot Copper
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/kkoc70w0/plant-container-set/v/d/z/1-gd-mpot-01-gd-homspurts-original-imafzytkkwnywrh4.jpeg?q=70 "
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Homspurts Metallic Sunshine Pot Copper
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/kkoc70w0/plant-container-set/v/d/z/1-gd-mpot-01-gd-homspurts-original-imafzytkkwnywrh4.jpeg?q=70 "
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Homspurts Metallic Sunshine Pot Copper
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
        <div class="card bg-dark text-white " style="width: 25rem; ">
            <img class="card-img-top "
                src="https://rukminim2.flixcart.com/image/416/416/kkoc70w0/plant-container-set/v/d/z/1-gd-mpot-01-gd-homspurts-original-imafzytkkwnywrh4.jpeg?q=70 "
                alt=" Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">
                    Homspurts Metallic Sunshine Pot Copper
                </h5>
                <a href="# " class="btn btn-primary ">Add To Cart</a>
            </div>
        </div>
    </div>

</section>